@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_AuthLayout";
}
<div class="form">
    <h1>Log In</h1>
    <div class="row">
        <div>
            <form id="account" method="post">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
                <div class="buttons">
                    <input class="submit" type="submit" value="Log In">
                    <a class="submit" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </div>
            </form>
        </div>
        <div class="oauth">
            <p>Use another service to log in.</p>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>


@*<div>
    <section>

    </section>
    </div>*@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}